In [147]:
import pandas as pd
import numpy as np
import statsmodels.api as sm
import seaborn as sns
import matplotlib.pyplot as plt

import pickle
import warnings
warnings.filterwarnings('ignore')

In [148]:
df = pd.read_csv(r"C:\Users\techno\OneDrive\Data Trained\Flip Robo (Batch 1836)\Car Price Prediction\Scraped Data\cars24.csv")

In [149]:
df

,Unnamed: 0,Brand Model,Variant,Manufacturing Year,Fuel Type,Driver Kilometers,Number of Owners,Location,Car Price
0,0,2017 Maruti Alto 800,LXI Manual,NaN,Petrol,"75,118 km",1st Owner,['Ahmedabad'],"₹3,10,199"
1,1,2020 Maruti Alto,LXI Manual,NaN,Petrol,"24,682 km",1st Owner,['Ahmedabad'],"₹3,99,099"
2,2,2020 Maruti Alto,VXI Manual,NaN,Petrol,"10,380 km",1st Owner,['Ahmedabad'],"₹4,32,999"
3,3,2018 Hyundai Grand i10,MAGNA 1.2 VTVT Manual,NaN,Petrol,"26,243 km",1st Owner,['Ahmedabad'],"₹4,90,699"
4,4,2016 Hyundai Grand i10,SPORTS 1.2 VTVT Manual,NaN,Petrol,"30,525 km",1st Owner,['Ahmedabad'],"₹4,79,199"
...,...,...,...,...,...,...,...,...,...
4424,4424,2017 Hyundai Grand i10,SPORTZ (O) 1.2 AT VTVT Automatic,NaN,Petrol,"11,203 km",1st Owner,Pune,"₹6,38,599"
4425,4425,2015 Hyundai Grand i10,MAGNA 1.2 KAPPA VTVT Manual,NaN,Petrol,"29,762 km",1st Owner,Pune,"₹4,33,999"
4426,4426,2013 Hyundai i10,SPORTZ 1.2 AT KAPPA2 Automatic,NaN,Petrol,"49,848 km",2nd Owner,Pune,"₹3,69,499"
4427,4427,2015 Hyundai Grand i10,MAGNA 1.2 KAPPA VTVT Manual,NaN,Petrol,"33,678 km",1st Owner,Pune,"₹4,33,999"
4428,4428,RESERVED,2017 Hyundai Grand i10,NaN,1st Owner,SPORTZ (O) 1.2 AT VTVT Automatic,"18,274 km",Pune,"₹13,533/month"

In [150]:
df.drop(columns='Unnamed: 0', inplace=True)

In [151]:
df['Brand Model'].loc[0][0:4]

'2017'

In [152]:
df['Brand Model'].loc[0][5:]

'Maruti Alto 800'

In [153]:
df.shape

(4429, 8)

In [154]:
for i in range(df.shape[0]):
    df['Manufacturing Year'].loc[i] = df['Brand Model'].loc[i][0:4]
    df['Brand Model'].loc[i] = df['Brand Model'].loc[i][5:]

In [155]:
df

,Brand Model,Variant,Manufacturing Year,Fuel Type,Driver Kilometers,Number of Owners,Location,Car Price
0,Maruti Alto 800,LXI Manual,2017,Petrol,"75,118 km",1st Owner,['Ahmedabad'],"₹3,10,199"
1,Maruti Alto,LXI Manual,2020,Petrol,"24,682 km",1st Owner,['Ahmedabad'],"₹3,99,099"
2,Maruti Alto,VXI Manual,2020,Petrol,"10,380 km",1st Owner,['Ahmedabad'],"₹4,32,999"
3,Hyundai Grand i10,MAGNA 1.2 VTVT Manual,2018,Petrol,"26,243 km",1st Owner,['Ahmedabad'],"₹4,90,699"
4,Hyundai Grand i10,SPORTS 1.2 VTVT Manual,2016,Petrol,"30,525 km",1st Owner,['Ahmedabad'],"₹4,79,199"
...,...,...,...,...,...,...,...,...
4424,Hyundai Grand i10,SPORTZ (O) 1.2 AT VTVT Automatic,2017,Petrol,"11,203 km",1st Owner,Pune,"₹6,38,599"
4425,Hyundai Grand i10,MAGNA 1.2 KAPPA VTVT Manual,2015,Petrol,"29,762 km",1st Owner,Pune,"₹4,33,999"
4426,Hyundai i10,SPORTZ 1.2 AT KAPPA2 Automatic,2013,Petrol,"49,848 km",2nd Owner,Pune,"₹3,69,499"
4427,Hyundai Grand i10,MAGNA 1.2 KAPPA VTVT Manual,2015,Petrol,"33,678 km",1st Owner,Pune,"₹4,33,999"
4428,VED,2017 Hyundai Grand i10,RESE,1st Owner,SPORTZ (O) 1.2 AT VTVT Automatic,"18,274 km",Pune,"₹13,533/month"

In [156]:
df.rename(columns={'Brand Model': 'Brand', 'Variant': 'Model'}, inplace=True)

In [157]:
df

,Brand,Model,Manufacturing Year,Fuel Type,Driver Kilometers,Number of Owners,Location,Car Price
0,Maruti Alto 800,LXI Manual,2017,Petrol,"75,118 km",1st Owner,['Ahmedabad'],"₹3,10,199"
1,Maruti Alto,LXI Manual,2020,Petrol,"24,682 km",1st Owner,['Ahmedabad'],"₹3,99,099"
2,Maruti Alto,VXI Manual,2020,Petrol,"10,380 km",1st Owner,['Ahmedabad'],"₹4,32,999"
3,Hyundai Grand i10,MAGNA 1.2 VTVT Manual,2018,Petrol,"26,243 km",1st Owner,['Ahmedabad'],"₹4,90,699"
4,Hyundai Grand i10,SPORTS 1.2 VTVT Manual,2016,Petrol,"30,525 km",1st Owner,['Ahmedabad'],"₹4,79,199"
...,...,...,...,...,...,...,...,...
4424,Hyundai Grand i10,SPORTZ (O) 1.2 AT VTVT Automatic,2017,Petrol,"11,203 km",1st Owner,Pune,"₹6,38,599"
4425,Hyundai Grand i10,MAGNA 1.2 KAPPA VTVT Manual,2015,Petrol,"29,762 km",1st Owner,Pune,"₹4,33,999"
4426,Hyundai i10,SPORTZ 1.2 AT KAPPA2 Automatic,2013,Petrol,"49,848 km",2nd Owner,Pune,"₹3,69,499"
4427,Hyundai Grand i10,MAGNA 1.2 KAPPA VTVT Manual,2015,Petrol,"33,678 km",1st Owner,Pune,"₹4,33,999"
4428,VED,2017 Hyundai Grand i10,RESE,1st Owner,SPORTZ (O) 1.2 AT VTVT Automatic,"18,274 km",Pune,"₹13,533/month"

In [158]:
df['Model'].loc[0]

'LXI Manual'

In [159]:
df['Variant'] = df['Brand']

In [160]:
for i in range(df.shape[0]):
    if 'Manual' in df['Model'].loc[i]:
        df['Variant'].loc[i] = 'Manual'
        df['Model'].loc[i] = df['Model'].loc[i].replace('Manual','')
    elif 'Automatic' in df['Model'].loc[i]:
        df['Variant'].loc[i] = 'Automatic'
        df['Model'].loc[i] = df['Model'].loc[i].replace('Automatic','')
    else:
        df['Variant'].loc[i] = 'NaN'

In [161]:
df['Model'].loc[0].replace('Manual','')

'LXI '

In [162]:
df.columns

Index(['Brand', 'Model', 'Manufacturing Year', 'Fuel Type',
       'Driver Kilometers', 'Number of Owners', 'Location', 'Car Price',
       'Variant'],
      dtype='object')

In [163]:
col = ['Brand', 'Model', 'Variant', 'Manufacturing Year', 'Fuel Type','Driver Kilometers', 'Number of Owners', 'Location', 'Car Price']

In [198]:
df = df.reindex(columns=col)

In [199]:
df

,Brand,Model,Variant,Manufacturing Year,Fuel Type,Driver Kilometers,Number of Owners,Location,Car Price
0,Maruti Alto 800,LXI,Manual,2017,Petrol,"75,118 km",1st Owner,['Ahmedabad'],"₹3,10,199"
1,Maruti Alto,LXI,Manual,2020,Petrol,"24,682 km",1st Owner,['Ahmedabad'],"₹3,99,099"
2,Maruti Alto,VXI,Manual,2020,Petrol,"10,380 km",1st Owner,['Ahmedabad'],"₹4,32,999"
3,Hyundai Grand i10,MAGNA 1.2 VTVT,Manual,2018,Petrol,"26,243 km",1st Owner,['Ahmedabad'],"₹4,90,699"
4,Hyundai Grand i10,SPORTS 1.2 VTVT,Manual,2016,Petrol,"30,525 km",1st Owner,['Ahmedabad'],"₹4,79,199"
...,...,...,...,...,...,...,...,...,...
4418,Hyundai Grand i10,SPORTZ (O) 1.2 AT VTVT,Automatic,2017,Petrol,"11,203 km",1st Owner,Pune,"₹6,38,599"
4419,Hyundai Grand i10,MAGNA 1.2 KAPPA VTVT,Manual,2015,Petrol,"29,762 km",1st Owner,Pune,"₹4,33,999"
4420,Hyundai i10,SPORTZ 1.2 AT KAPPA2,Automatic,2013,Petrol,"49,848 km",2nd Owner,Pune,"₹3,69,499"
4421,Hyundai Grand i10,MAGNA 1.2 KAPPA VTVT,Manual,2015,Petrol,"33,678 km",1st Owner,Pune,"₹4,33,999"
4422,VED,2017 Hyundai Grand i10,NaN,RESE,1st Owner,SPORTZ (O) 1.2 AT VTVT Automatic,"18,274 km",Pune,"₹13,533/month"

In [200]:
from pathlib import Path  
filepath = Path("C:/Users/techno/OneDrive/Data Trained/Flip Robo (Batch 1836)/Car Price Prediction/Scraped Data/cars24A.csv")  
filepath.parent.mkdir(parents=True, exist_ok=True)  
df.to_csv(filepath)